<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing with Imagen AI</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optional Bootstrap theme -->
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Image Processing Form</h1>
        <form method="post" action="/submit" class="needs-validation" novalidate>

            <div class="form-group">
                <label for="input_dir">Input Directory:</label>
                <input type="text" class="form-control" id="input_dir" name="input_dir" required>
            </div>

            <div class="form-group">
                <label for="output_dir">Output Directory:</label>
                <input type="text" class="form-control" id="output_dir" name="output_dir" required>
            </div>

            <div class="form-group">
                <label for="profile_name">Profile Name:</label>
                <input type="text" class="form-control" id="profile_name" name="profile_name" required>
            </div>

            <div class="form-group">
                <label for="api_key">Unique API KEY:</label>
                <input type="text" class="form-control" id="api_key" name="api_key" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>